*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  display: flex;
  height: 100vh;
  justify-content:center;
  background-color:rgb(194, 194, 240);
}
.container{
  display: flex;
  flex-direction: column;
  height:55vmin;
  width:60vmin;
  border-radius: 5px;
  margin-top: 5%;
}
.head1{
  background-color:rgb(244, 220, 84);
  display: flex;
  justify-content:center;
  align-items: center;
  height:20%;
  font-size:12px;
}
.head{
  display: flex;
  width: 100%;
  background-color: lightcoral;
  flex-direction: column;
  align-items: center;
}
input{
  display: flex;
  height:40px;
  width:50%;
  text-indent: 10px;
  font-size: 20px;
}
label{
  display: flex;
  margin-top: 5%;
  font-size: 20px;
  font-weight: 500;
  color: rgb(0, 6, 11);
}
button{
  width:30%;
  height:40px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  .hidden{
    display: none;
  }