*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body{
    display: flex;
    height: 100vh;
    justify-content:center;
    background-color:bisque;
  }
  .container{
    display: flex;
    flex-direction: column;
    height:65vmin;
    width:60vmin;
    border-radius: 5px;
    margin-top: 5%;
  }
  .head1{
    background-color:rgba(80, 8, 80, 0.888);
    display: flex;
    justify-content:center;
    align-items: center;
    height:20%;
    font-size:12px;
  }
  .head{
    display: flex;
    height: 70%;
    width: 100%;
    background-color:rgba(0, 139, 139, 0.613);
    flex-direction: column;
    align-items: center;
  }
  h1{
    color: white;
  }
  input{
    display: flex;
    height:40px;
    width:50%;
    text-indent: 10px;
    font-size: 20px;
  }
  label{
    margin-top:5%;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 6, 11);
  }
  button{
    width:30%;
    height:40px;
  }
  ul {
      list-style-type: none;
      padding: 0;
      margin-top: 20px;
    }