*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Proxima Nova", "helvetica neue", helvetica, arial, sans-serif;
}
.container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 100px 1fr;
    border: 2px solid red;
    overflow-x: hidden;
}
header{
    display: flex;
    height: 50px;
    width:100%;
    background-color: rgba(21,21,23);
    position: fixed;
    z-index: 2;

}
.header{
     display: flex;
     height: 50px;
     width: 80%;
     margin:auto;
     background-color: rgba(21,21,23);
     border: 1px solid green;
}
nav{
    display: flex;
    height: 100px;
    width:100%;
    background-color: #fff;
    position: fixed;
    z-index: 1;
    border: 1px solid yellow;
    top: 52px;
    flex-direction: column;
}
.nav1{
    display: flex;
    height: 50px;
    width:80%;
    background-color: #fff;
    border: 1px solid yellow;
    margin: 0 auto;
}
.nav2{
    display: flex;
    height: 50px;
    width:80%;
    background-color: #fff;
    border: 1px solid yellow;
    margin: 0 auto;
}
main{
    display: flex;
    min-height: 1200px;
    width:100%;
    position: relative;
    top: 150px;
    border: 1px solid darkblue;
}
.aside{
    display: flex;
    min-height: 1200px;
    width:80%;
    border: 1px solid brown;
    margin:0 auto;
    gap: 10px;
}
.aside1{
    display: flex;
    min-height: 1200px;
    width:80%;
    border: 1px solid brown;
}
.aside2{
    display: flex;
    min-height: 1200px;
    width:30%;
    border: 1px solid hotpink;
}
