*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width:100vw;
    height:100vh;
    background-color:rgb(233, 238, 238)
}
header{
    display:flex;
    width:100vw;
    height:6vh;
    margin:auto;
    background-color: black;
    position: relative;
    }
#flickr{
    display: flex;
}
#flickr:hover{
    cursor:pointer;
    opacity: 0.7;
}
.image1{
    background-image: url(image.png);
    background-position: -150px -99px; 
    width: 48px;
    height: 44px;
    transform:scale(.3);
    position:absolute;
    left: 9.2%;
    top:3px;
    color:rgb(149, 147, 147);
}
.image2{
    background-image: url(image.png);
    background-position: -193px -97px; 
    width: 48px;
    height: 44px;
    transform:scale(.3);
    position:absolute;
    left: 9.9%;
    top:3px;
    color:rgb(149, 147, 147);
   }
.logo{
    background-image: url(image.png);
    background-position: 0px -231px; 
    width: 151px;
    height: 52px;
    position:absolute;
    left:9.5%;
    bottom:4.6px;
    transform:scale(0.4);
   }
.option{
    display: flex;
}
.option ul{
    display:inline-flex;
    list-style-type: none;
    align-content: center;
    position:absolute;
    left:16vw;
    top:1.6vh;
    font-size: 15px; 
    color:white;   
    
}
.option ul li{
    display:block;
    padding-left:17.5px;
    padding-right:12.5px;
}
.option ul li:hover{
    cursor:pointer;
    color:rgb(156, 153, 153);
}
.option-1{
    display:none;
}
.option ul li:hover .option-1{
    display:block;
    position:absolute; 
    margin-top: -13px;
    margin-left:-315px;
}
.option ul li:hover .option-1 ul{
    display:block;
    margin:10px;
    background-color: rgb(255, 255, 255);
    color:black;
    border:1px solid rgba(128, 128, 128, 0.37);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.15);
}
.option ul li:hover .option-1 ul li{
    width:145px;
    padding:2px;
    margin:5px;
    border-radius: 0;
    text-align: left;
}
.option ul li:hover .option-1 ul li:hover{
    background-color:rgba(0,0,0,0.042); 
}
.option .option-1::before{
    content:'';
    position:absolute;
    top:21px;
    left:21em;
    width:15px;
    height: 15px;
    background:rgba(255, 255, 255,0.5);
    transform: rotate(45deg);
}

form{
    display:flex;
    align-self: center;
    position: absolute;
    right:25%;
    
}
.search-icon{
    background-color: transparent;
    border:none;
    outline: none;
    box-sizing: border-box;
    background-image: url(image.png);
    background-position: -469px -327px; 
    width: 24px;
    height: 20px;
    opacity:1;
    cursor: pointer;
    transform: scale(1.5);
    place-self: center;
    position:absolute;
    left:7px;
    z-index:1;
    

}
.search-icon:focus{
    width:100px;
    outline:none; 
    background-color: white;
    transition-duration: 0.4s;
    float:right;
}
.search-box{
    width:220px;
    height:33px;
    background-color:rgba(255, 255, 255, 0.848);
    color:black;
    border:none;
    outline: none;
    box-sizing: border-box;
    font-size: 13px;
    text-indent: 10px;
    padding-left:40px;
    position:relative;
}
.search-box:focus{
    width:350px;
    outline:none; 
    background-color: #fff;
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}
.picture{
    display:flex;
}
.im:hover{
    cursor:pointer;
    opacity: 0.8;   
}
.image3{
    background-image: url(image.png);
    background-position: -411px -447px; 
    width: 31px;
    height: 23px;
    place-self: center;
    position:absolute;
    right:18em;
   
}
.image4{
    background-image: url(image.png);
    background-position: -492px -419px; 
    width: 26px;
    height: 25px;
    place-self: center;
    position:absolute;
    right:15em;
}
.image5{
    background-image: url(image1.png);
    position: absolute;
    right:11em;
    border-radius: 100%;
    place-self: center;
    transform: scale(0.7);
}
.navi ul{
    
    display:inline-flex;
    align-items: center;
    width:80vw;
    height:5vh;
    margin:auto;
    position:absolute;
    left:12em;
    border-bottom:2px solid rgba(128, 128, 128, 0.357);
    gap:20px;
}
.navi{
    display:flex;
    width: 100vw;
    height: 11vh;
    background-color:white;
    color: black;
    position:absolute;
    left:0%;
    top:5%;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    position:relative;
    left:0%;
   top: 15%;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.a1, nav ul li:hover{
    border-bottom: 4px solid blue;
}
.nav2{
    display: inline-flex;
    height:3vh;
    width:30vw;
    position: absolute;
    left:30%;
    top:11%;
}
.colorbox{
    background-color: red;
    width: 25px;
   
}
.colorbox2{
    display: inline-flex;
    height:3vh;
    width:25px;
    position: absolute;
    left:5%;
    background-color: darkorange;
}
.colorbox3{
    display: inline-flex;
    height:3vh;
    width:25px;
    position: absolute;
    left:10%;
    background-color: orange;
}
.colorbox4{
    display: inline-flex;
    height:3vh;
    width:25px;
    position: absolute;
    left:15%;
    background-color:pink;
}
.colorbox5{
    display: inline-flex;
    height:3vh;
    width:25px;
    position: absolute;
    left:20.4%;
    background-color:yellow;
}
.colorbox6{
    display: inline-flex;
    height:3vh;
    width:25px;
    position: absolute;
    left:25.5%;
    background-color:rgb(214, 214, 108);
}
.colorbox7{
    display: inline-flex;
    height:3vh;
    width:25px;
    position: absolute;
    left:31%;
    background-color:lightgreen;
}
.colorbox8{
    display: inline-flex;
    height:3vh;
    width:25px;
    position: absolute;
    left:36%;
    background-color:green;
}
.colorbox9{
    display: inline-flex;
    height:3vh;
    width:25px;
    position: absolute;
    left:41%;
    background-color:skyblue;
}
.colorbox10{
    display: inline-flex;
    height:3vh;
    width:25px;
    position: absolute;
    left:46%;
    background-color:blue;
}
.colorbox11{
    display: inline-flex;
    height:3vh;
    width:25px;
    position: absolute;
    left:51%;
    background-color:violet;
}
.colorbox12{
    display: inline-flex;
    height:3vh;
    width:25px;
    position: absolute;
    left:56%;
    background-color:hotpink;
}
.colorbox13{
    display: inline-flex;
    height:3vh;
    width:25px;
    position: absolute;
    left:60%;
    background-color:white;
}
.colorbox14{
    display: inline-flex;
    height:3vh;
    width:25px;
    position: absolute;
    left:61%;
    background-color:gray;
}
.colorbox15{
    display: inline-flex;
    height:3vh;
    width:25px;
    position: absolute;
    left:67%;
    background-color:black;
}
