
.fl{
    display:flex;
    flex-flow: row wrap;
    text-align: center;
    background-color: rgb(163, 219, 240);
}
.fl  *{
    padding: 20px;
    margin: 10px;
    flex: 1 100%;
    color: white;
}
.header{
    background-color:rgb(25, 164, 164);
    }
.footer{
        background-color: rgb(25, 164, 164);
        order : 4;
    }
.flex{
    text-align: center;
    background-color: orange;
    padding-top: 100px;
    order : 2;
    flex : 3; 
}
.aside{
    background-color: rgb(164, 212, 69);
    padding-top: 150px;
    justify-content: center;
    order : 1;
    flex : 1;
}
