body{
    background-color: lightskyblue;
}
.c1{
    display:flex;
    flex-flow: wrap row;
    text-align: center;
}
.c1>*{
    padding: 30px;
    margin: 30px;
    flex: 1 100%;
}
header{
    background-color:aqua;
    }
nav{
    background-color:lawngreen;
    }       
    .as{
        background-color: lightgreen;
    }
    .main{

        background-color:cornflowerblue;
    }
    .sec{
        background-color: blue;
    }
    .footer{
        background-color: aqua;
    }