*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background: #fdfddd;
    font-family: Arial;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
        'feature feature feature header header header header'
        'side product product product product product f2'
        'side product product product product product ..'
        'side b1 . . . b3 f3'
        'side . b2 b2 . . b4'
        'side footer footer footer footer footer footer'
    ;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr 1fr 1fr 1fr;
    gap: 10px;
    border: 10px solid #fff7f4;
    font-size: 20px;
    padding: 10px;
    background: rgb(247, 246, 239);
}
.feature{
    grid-area: feature;
    background: rgb(149, 32, 32);
}

.header{
    grid-area: header;
    background: black;
}

.side{
    grid-area: side;
    background: lawngreen
}

.product{
    grid-area: product;
    background: rgb(6, 6, 77);
}

.f2{
    grid-area: f2;
    background:rgb(147, 40, 40);
}

.f3{
    grid-area: f3;
    background: rgb(147, 40, 40);
}

.b1{
    grid-area: b1;
    background: rgb(239, 192, 192)
}

.b2{
    grid-area: b2;
    background: rgb(239, 192, 192)
}

.b3{
    grid-area: b3;
    background: rgb(239, 192, 192)
}

.b4{
    grid-area: b4;
    background: rgb(239, 192, 192)
}

.footer{
    grid-area: footer;
    background: goldenrod
}