*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background: url(assets/images/pic1.avif)no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
app-root{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: center;
    align-items: center;
}

.container{
    grid-column: 1;
}
.container1{
    grid-column: 2;
}

@media (max-width:789px){
    app-root{
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .container{
        grid-row: 1;
    }
    .container1{
        grid-row: 2;
    }
}
@media(max-width:600px){

    app-root{
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .container{
        grid-row: 1;
    }
    .container1{
        grid-row: 2;
    }
}